{% extends 'base.html' %}

{% block title %}Startseite{% endblock %}

{% block content %}
    <h1>Willkommen bei der ISO50001 Konfiguration</h1><br>
    <p>Dieser Webbrowser unterstützt dich bei der Erstellung eines Fragenkatalogs, als auch bei dem Finden passender Messgeräte. </p><br>
    <p>Darüber hinaus kann dies genutzt werden um die eigenen Aktivitäten zu tracken und bestimmte DIN Begriffe erläutern zu lassen.</p>
    <p>Wähle dazu einfach einer der Optionen im Menü aus.</p>
{% endblock %}